.bot_box {
    padding: 10vh;
    button {
        font-size: 6vh;
        font-family: 'Quantico', sans-serif;
        padding: 3vh 5vh;
        background-color: rgb(235, 134, 255);
        margin: 1vh;
        position: relative;
        box-shadow: 5px 5px 10px 2px rgb(59, 0, 71);
        border-radius: 10%;
        color: black;
        transition: color 0.25s ease-out 50ms,
                    background-color 1ms linear 1ms;
        margin-bottom: 5vh;
    }
    button:hover {
        cursor: pointer;
        color: white;
        animation: acercamiento 2s ease 10ms infinite normal;
    }
    button:active {
        background-color: rgb(90, 85, 174);
    }
    .eleccion_computadora {
        margin-top: 2vh;
        span {
            color: white;
            animation: letras 2s ease 10ms infinite normal;
        }
    }
    .puntuacion_computadora {
        span {
            color:white;
        }
    }
}

@keyframes acercamiento {
    0% {padding:3vh 5vh;}
    25% {padding:2.5vh 4.5vh;}
    50% {padding:3vh 5vh;}
    75% {padding:2.5vh 4.5vh;}
    100% {padding:3vh 5vh;}
}

@media only screen and (max-width: 1000px) {
    .bot_box {
        font-size: 3vh;
        button {
            font-size: 4vh;
        }
    }
}