.footer_box {
    width: 100%;
    min-height: 12vh;
    max-height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    line-height: 1vh;
    p {
        font-family: 'Aboreto', cursive;
        margin-top: 3vh;
    }
    span {
        color: rgb(235, 81, 209);
        animation: color 2s infinite linear;
    }
    .contact_icons {
        font-size: 3.5vh;
        a {
            margin-left: 1vh;
            margin-right: 1vh;
            color: inherit;
            transition: color 250ms ease-out 1ms;
        }
        .bi-whatsapp:hover {
            color: rgb(137, 212, 137);
            cursor: pointer;
        }
        .bi-instagram:hover {
            color: rgb(228, 129, 185);
            cursor: pointer;
        }
    }
}

@keyframes color {
    0% {color: rgb(247, 0, 255);}
    50% {color: white;}
    100% {color: rgb(247, 0, 255);}
}

@media only screen and (max-width: 600px) {
    .footer_box {
        line-height: 2vh;
        p {
            margin-top: 2vh;
            font-size: 1vh;
        }
        .contact_icons {
            font-size: 2vh;
            margin-bottom: 2vh;
        }
    }
}