.game_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
    animation: aparicion 1.5s linear 10ms 1 normal;
    .user_bot_box {
        display: flex;
        flex-wrap: wrap;
    }
    .winner_box {
        display: flex;
        justify-content: center;
    }
}

@keyframes aparicion {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.50;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
}