.container_language {
    z-index: 80;
    position: fixed;
    right: 2%;
    top: 3%;
    display: flex;
    gap: 1vh;
    p {
        color: white;
        z-index: 80;
        margin-top: 0.5vh;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(50, 38, 163);
            -webkit-transition: .4s;
            transition: .4s;
            animation: lang 1.5s 3 linear;
            animation-delay: 3.5s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .slider {
            background-color: rgb(50, 38, 163);
        }
          
        input:focus + .slider {
            box-shadow: 0 0 1px rgb(50, 38, 163);
        }
          
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
          
        .slider.round {
            border-radius: 34px;
        }
          
        .slider.round:before {
            border-radius: 50%;
        }
      }
}

@keyframes lang {
    0% {box-shadow: none;}
    50% {box-shadow: 0 0 50px 20px rgb(50, 38, 163);}
    100% {box-shadow: none;}
}

@media only screen and (max-width: 600px) {
    .container_language {
        right: 8%;
        top: 3%;
        gap: 0.3vh;
        p {
            font-size: 1vh;
            margin-top: 0;
        }
        .switch {
            width: 30px;
            height: 14px;
            .slider:before {
                height: 12px;
                width: 14px;
                bottom: 1px;
            }
            input:checked + .slider:before {
                -webkit-transform: translateX(6px);
                -ms-transform: translateX(6px);
                transform: translateX(6px);
            }
          }
    }
}