.container_skills {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    .skill {
        display: flex;
        gap: 2vh;
        background-color: rgba(106, 89, 255, 0.534);
        height: 4vh;
        padding-left: 2vh;
        padding-right: 2vh;
        .nombre {
            width: 20vh;
            text-align: center;
            h4 {
                font-size: 3vh;
                color: black;
            }
        }
        .barras {
            width: 75vh;
            height: 4vh;
            background-color: rgba(50, 38, 163, 0.356);
            transition: all 500ms ease-in 10ms;
            .barra {
                height: 100%;
                background-color: rgb(50, 38, 163);
            }
            #noventa {
                width: 0;
                transition: all 800ms ease-in 1s;
            }
            #noventa-active {
                width: 85%;
                transition: all 800ms ease-in 1s;
            }
            #ochenta {
                width: 0;
                transition: all 800ms ease-in 1s;
            }
            #ochenta-active {
                width: 75%;
                transition: all 800ms ease-in 1s;
            }
            #setenta {
                width: 0;
                transition: all 800ms ease-in 1s;
            }
            #setenta-active {
                width: 65%;
                transition: all 800ms ease-in 1s;
            }
            #sesenta {
                width: 0;
                transition: all 800ms ease-in 1s;
            }
            #sesenta-active {
                width: 55%;
                transition: all 800ms ease-in 1s;
            }
            #cincuenta {
                width: 0;
                transition: all 800ms ease-in 1s;
            }
            #cincuenta-active {
                width: 45%;
                transition: all 800ms ease-in 1s;
            }
        }
        .barras:hover {
            animation: shadowSkills 1s infinite linear;
        }
        p {
            color: rgb(50, 38, 163);
        }
    }
}

@keyframes rotacionUno {
    0%   {transform: rotate(0);}
    100% {transform: rotate(359deg);}
}

@keyframes rotacionDos {
    0%   {transform: rotate(0);}
    100% {transform: rotate(-359deg);}
}

@keyframes shadowSkills {
    0% {box-shadow: 0 0 20px 5px rgb(255, 255, 255);}
    50% {box-shadow: 0 0 20px 5px rgb(50, 38, 163);}
    100% {box-shadow: 0 0 20px 5px rgb(255, 255, 255);}
}

@media only screen and (max-width: 600px) {
    .container_skills {
        gap: 1vh;
        .skill {
            gap: 1vh;
            height: 2vh;
            padding-left: 1vh;
            padding-right: 1vh;
            .nombre {
                width: 7vh;
                h4 {
                    font-size: 1vh;
                    padding-top: 0.4vh;
                }
            }
            .barras {
                width: 30vh;
                height: 2vh;
                
            }
            p {
                font-size: 1vh;
                padding-top: 0.3vh;
            }
        }
    }
}