.user_box {
    padding: 10vh;
    button {
        font-size: 8vh;
        padding: 3vh;
        background-color: rgb(235, 134, 255);
        margin: 1vh;
        border-radius: 50%; 
        transition: all 0.25s ease-out 50ms;
        transition: color 1ms linear 1ms;
        position: relative;
        box-shadow: 5px 5px 10px 2px rgb(59, 0, 71);
        margin-bottom: 5vh;
    }
    button:hover {
        cursor: pointer;
        color: white;
        animation: rebote 1s linear 10ms infinite normal;
    }
    button:active {
        color: black;
    }
    .eleccion_usuario {
        span {
            color: white;
            animation: letras 2s ease 10ms infinite normal;
        }
    }
    .puntuacion_usuario {
        span {
            color: white;
        }
    }
}

@keyframes rebote {
    0%   {top:0px;}
    25%  {top:-5px;}
    50%  {top:-10px;}
    75%  {top:-5px;}
    100% {top:0px;}
}

@keyframes letras {
    0%   {color: white;}
    50%  {color: rgb(84, 26, 95);}
    100% {color: white;}
}

@media only screen and (max-width: 1000px) {
    .user_box {
        font-size: 3vh;
        button {
            font-size: 4vh;
        }
    }
}
