.winner_box {
    padding: 5vh;
    button {
        font-size: 5vh;
        padding: 2vh 4vh;
        background-color: rgb(235, 134, 255);
        margin: 1vh;
        position: relative;
        box-shadow: 5px 5px 10px 2px rgb(59, 0, 71);
        color: black;
        font-family: 'Quantico', sans-serif;
        transition: color 0.5s ease-out 50ms,
                    background-color 1ms linear 1ms;
        
    }
    button:hover {
        cursor: pointer;
        color: white;
        animation: acercamiento 2s ease 10ms infinite normal;
    }
    button:active {
        background-color: rgb(90, 85, 174);
    }
    .resultado {
        color: white;
        text-shadow: 5px 5px rgb(59, 0, 71);
        font-size: 10vh;
        position: relative;
        animation: rebote 1s linear 10ms infinite normal;
    }
}

@keyframes acercamiento {
    0% {padding:2vh 4vh;}
    25% {padding:2.5vh 4.5vh;}
    50% {padding:2vh 4vh;}
    75% {padding:2.5vh 4.5vh;}
    100% {padding:2vh 4vh;}
}

@keyframes rebote {
    0%   {top:0px;}
    25%  {top:-5px;}
    50%  {top:-10px;}
    75%  {top:-5px;}
    100% {top:0px;}
}

@media only screen and (max-width: 1000px) {
    .winner_box {
        button {
            font-size: 3vh;
        }
        .resultado {
            font-size: 6vh;
        }
    }
}

@media only screen and (max-width: 500px) {
    .winner_box {
        button {
            font-size: 2.5vh;
            padding: 1.5vh 2vh;
        }
        .resultado {
            font-size: 4vh;
        }
    }
}