.content2_box {
    width: 100%;
    min-height: 180vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(235, 181, 226);
    background: linear-gradient(180deg, rgb(243, 124, 223) 20%, rgba(255,255,255,1) 100%);
    gap: 10vh;
    padding-bottom: 20vh;
    .card {
        width: 50vh;
        height: 50vh;
        img {
            transition: opacity 250ms ease-in 50ms;
        }
        img:hover {
            opacity: 0.8;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            background-color: rgb(235, 181, 226);
            box-shadow: 0 0 60px 10px rgb(241, 128, 223);
            h5 {
                text-align: center;
                font-family: 'Bebas Neue', cursive;
                letter-spacing: 1.8px;
                color: black;
                font-size: 4.5vh;
            }
            a {
                background-color: white;
                border: white;
                color: black;
                transition: all 250ms ease-in 50ms;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                letter-spacing: 2px;
            }
            a:hover {
                background-color: rgb(235, 123, 216);
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .content2_box {
        gap: 30vh;
        padding-bottom: 30vh;
        padding-top: 30vh;
        .card {
            width: 40vh;
            height: 40vh;
            .card-body {
                h5 {
                    font-size: 3.5vh;
                }
            }
        }
    }
}