.content_box {
  width: 100%;
  height: 120vh;
  max-height: 100%;
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10vh;
  .bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(235, 181, 226) 50%, rgb(235, 150, 226) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
      
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:10s;
  }
      
  .bg3 {
    animation-duration:10s;
  }
      
  #carouselExampleIndicators {
    height: 75vh;
    width: 100vh;
    margin-left: 5vh;
    box-shadow: 0 0 50px 20px rgb(241, 128, 223);
    .carousel-inner {
      height: 75vh;
      width: 100vh;
      transition: opacity 250ms ease-in 1ms;
      .carousel-item {
        height: 75vh;
        width: 100vh;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .carousel-inner:hover {
      opacity: 0.8;
    }
  }
  .texto {
    width: 60vh;
    margin-right: 10vh;
    font-size: 4vh;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;
    text-align: justify;
    color: black;
    img {
      width: 45vh;
      height: 13vh;
      margin-bottom: 7vh;
      box-shadow: 0 0 50px 20px rgb(241, 128, 223);
      border: 3px solid rgb(36, 36, 36);
      margin-left: 7vh;
    }
    span {
      animation: colorBag 2s infinite linear;
    }
  }
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@keyframes colorBag {
  0% {color: black;}
  50% {color: rgb(247, 0, 255);}
  100% {color: black;}
}

@media only screen and (max-width: 600px) {
  .content_box {
    margin-top: 3vh;
    margin-bottom: 30vh;
    .bg {
      background-image: none;
      background-color: rgb(235, 181, 226);
    }
    #carouselExampleIndicators {
      height: 50vh;
      width: 40vh;
      margin-left: 0;
      margin-bottom: 15vh;
      .carousel-inner {
        height: 50vh;
        width: 40vh;
        .carousel-item {
          height: 50vh;
          width: 40vh;
        }
      }
    }
    .texto {
      width: 40vh;
      height: auto;
      margin-right: 0;
      margin-left: 0;
      font-size: 3vh;
      img {
        width: 35vh;
        height: 10vh;
        margin-left: 2.5vh;
        margin-bottom: 10vh;
      }
    }
  }
}