.body_box_contacto {
  height: auto;
  width: 100%;
  .bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(235, 181, 226) 50%, rgb(235, 150, 226) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
          
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:10s;
  }
          
  .bg3 {
    animation-duration:10s;
  }

  .contacto_box {
    padding-top: 18vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    .list_box {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      a {
        color: black;
        font-size: 10vh;
        transition: color 250ms ease-out 1ms;
        position: relative;
      }
      a:hover {
        animation: iconosContacto 0.75s linear 10ms infinite normal;
      }
      .bi-whatsapp:hover {
        color: rgb(137, 212, 137);
      }
      .bi-instagram:hover {
        color: rgb(228, 129, 185);
      }
      .bi-envelope:hover {
        color: rgb(73, 150, 221);
      }
      .bi-geo-alt-fill:hover {
        color: rgb(185, 0, 0);
      }
      .bi-alarm:hover {
        color: rgb(236, 222, 14)
      }
      p {
        font-size: 5vh;
        margin-left: 10vh;
        margin-top: 2.5vh;
        cursor: default;
        position: relative;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 0.5vh;
        color: black;
        transition: color 250ms ease-out 1ms;
      }
      p:hover {
        animation: letrasContacto 0.75s linear 10ms infinite normal;
        color: white;
      }
    }
  }
}

@keyframes letrasContacto {
  0%   {right:0px;}
  25%  {right:-15px;}
  50%  {right:-30px;}
  75%  {right:-15px;}
  100% {right:0px;}
}

@keyframes iconosContacto {
  0%   {top:0px;}
  25%  {top:-10px;}
  50%  {top:0px;}
  75%  {top:10px;}
  100% {top:0px;}
}

@media only screen and (max-width: 600px) {
  .body_box_contacto {
    .bg {
      background-image: none;
      background-color: rgb(235, 181, 226);
    }
    .contacto_box {
      padding-top: 20vh;
      padding-bottom: 10vh;
      margin-bottom: 6vh;
      margin-left: 3vh;
      .list_box {
        a {
          font-size: 5vh;
          margin-bottom: 3vh;
        }
        p {
          font-size: 2.5vh;
          margin-left: 3vh;
          margin-top: 1.5vh;
        }
      }
    }
  }
}