.body_box_tienda {
  height: auto;
  width: 100%;
  .bg {
    animation:slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(235, 181, 226) 50%, rgb(235, 150, 226) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }     
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:10s;
  }    
  .bg3 {
    animation-duration:10s;
  }
  #accordionFlushExample {
    padding-top: 16vh;
    padding-bottom: 3vh;
    .accordion-item {
      h2 {
        button {
          background-color: black;
          color: rgb(235, 181, 226);
          border: 1vh solid rgb(235, 181, 226);
          height: 13vh;
          text-align: center;
          letter-spacing: 1vh;
          font-family: 'Bebas Neue', cursive;
          font-size: 4vh;
          box-shadow: inherit;
        }
        button:hover {
          animation: cambioColor 1s infinite linear;
          background-color: rgb(15, 15, 15);
        }
        button:not(.collapsed) {
          background-color: rgb(15, 15, 15);
          animation: cambioColor 1s infinite linear;
        }
        button:not(.collapsed)::after {
          filter: brightness(0%) invert(100%);
        }
      }
    }
    .accordion-body {
      background-color: rgb(235, 181, 226);
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15vh;
      padding-top: 10vh;
      padding-bottom: 10vh;
      .card {
        width: 50vh;
        height: 50vh;
        font-family: 'Bebas Neue', cursive;
        margin-bottom: 25vh;
        transition: all 0.25s linear 0.1s;
        .card-body {
          display: flex;
          flex-direction: column;
          background-color: rgb(235, 181, 226);
          box-shadow: 0 0 60px 10px rgb(241, 128, 223);
          h5, h4 {
            text-align: center;
            letter-spacing: 1.8px;
            color: black;
            font-size: 5vh;
            line-height: 3.5vh;
            transition: all 0.25s linear 0.1s;
          }
          h4 {
            animation: colorPrecio 2s infinite linear;
          }
          .info {
            display: flex;
            justify-content: space-between;
            font-size: 3vh;
            .colors {
              display: flex;
              flex-direction: column;
              .colors_box {
                display: flex;
                .color {
                  width: 2vh;
                  height: 2vh;
                  border-radius: 50%;
                  margin-left: 0.5vh;
                  margin-right: 0.5vh;
                  border: 1px solid black;
                }
                #negro {
                  background-color: black;
                }
                #blanco {
                  background-color: white;
                }
                #rojo {
                  background-color: red;
                }
                #marron {
                  background-color: brown;
                }
                #verde {
                  background-color: green;
                }
                #rosa {
                  background-color: pink;
                }
                #vino {
                  background-color: rgb(109, 0, 0);
                }
                #gris {
                  background-color: gray;
                }
                #azul {
                  background-color: blue;
                }
                #mora {
                  background-color: purple;
                }
                #amarillo {
                  background-color: yellow;
                }
              }
            }
          }
        }
      }
      .card:hover {
        width: 60vh;
        height: 60vh;
        h5 {
          color: white;
        }
      }
    }
  }
}

@keyframes cambioColor {
  0% {color: rgb(235, 181, 226);}
  50% {color: rgb(219, 61, 193);}
  100% {color: rgb(235, 181, 226);}
}

@keyframes colorPrecio {
  0% {color: rgb(235, 81, 209);}
  50% {color: black;}
  100% {color: rgb(235, 81, 209);}
}

@media only screen and (max-width: 600px) {
  .body_box_tienda {
    height: auto;
    width: 100%;
    .bg {
      background-image: none;
      background-color: rgb(235, 181, 226);
    }
    #accordionFlushExample {
      padding-top: 20vh;
      padding-bottom: 10vh;
      .accordion-item {
        h2 {
          button {
            height: 10vh;
            letter-spacing: 0.5vh;
            font-size: 3vh;
          }
        }
      }
      .accordion-body {
        gap: 5vh;
        padding-top: 10vh;
        padding-bottom: 10vh;
        .card {
          width: 40vh;
          height: 40vh;
          .card-body {
            h5, h4 {
              font-size: 3.5vh;
            }
            .info {
              font-size: 2.5vh;
              .colors {
                .colors_box {
                  .color {
                    width: 1.5vh;
                    height: 1.5vh;
                  }
                }
              }
            }
          }
        }
        .card:hover {
          width: 40vh;
          height: 40vh;
          h5 {
            color: white;
          }
        }
      }
    }
  }
}